# Dependencies
node_modules/

# React Native
.expo/
*.jsbundle

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
*.apk
*.aab

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace
*.ipa
*.dSYM.zip
*.dSYM

# Metro
.metro-health-check*

# Build
dist/
build/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Test
coverage/

# Temporary
tmp/
temp/
*.log

